/* // In /app/assets/stylesheets/ create the file links.css
// Create a CSS class called .error that changes the color of the text to red. Add this CSS class to the link on the root page.
// Create another CSS class called .cool-background that makes the background grey. Add this CSS class to the <body> tag on the application layout.
// Add links.css to your CSS manifest. */

.error {
  color: red;
}

.cool-background {
  background: grey;
}